<%- include('../partials/head') %>
<%- include('../partials/nav') %>
<div class="container mt-5 ">
  <h1>All Books</h1>
  <div class="add-book">
  <a href="/books/new" class="btn btn-success">Add a Book</a></div>
  <div class="row">
    <% foundBooks.forEach(book => { %>
      <div class="col-md-4 mb-4">
        <a href="/books/<%= book._id %>">
        <div class="card ">
          <img src="<%= book.image %>" class="card-img-top" alt="Book image">
          <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <p class="card-text"><strong>Category:</strong> <%= book.category %></p>
          </div>
        </div></a>
      </div>
    <% }) %>
  </div>
</div>
</body>
</html>