<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    /> -->

    <link
      rel="stylesheet"
      href="https://unpkg.com/simpledotcss/simple.min.css"
    />

    <link rel="stylesheet" href="../stylesheets/style.css" />

    <title>Book Page</title>
  </head>
  <body>
    <div class="container">
      <strong>Book title:</strong>
      <%= foundBook.title %>
      <img src="<%= foundBook.image %>" />
      <strong>Category:</strong> <%= foundBook.category %>
      <br />
      <br />
      <strong>Description:</strong>
      <p><%=foundBook.description %></p>
      <div class="actions">
        <form
          class="delete-form"
          action="/books/<%=foundBook._id%>?_method=DELETE"
          method="POST"
        >
          <button type="submit">
            Delete <%=foundBook.title %>
          </button>
        </form>
        <a class="edit-link" href="/books/<%= foundBook._id %>/edit"><button>
        <div class="edit-text">Edit <%= foundBook.title %></button></div>
    </a></button>
</div>
      </div>
    </div>
  </body>
</html>
